#mailchimp {
    background: #f8f8f8;
    color: #3D6392;
    padding: 20px 15px;
}

#mailchimp input {
	border: medium none;
	color: gray;
	font-family: times new roman;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

#mailchimp input.email { background: #fff }
#mailchimp input.name { background: #fff}
#mailchimp input[type="submit"] {
	background: #115B87;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	width: 35%;
	padding: 8px 0;

}

#mailchimp input[type="submit"]:hover { color: #F2C94C }


#myModal h4.modal-title {
    color:#5195C3;
    text-align: center;
    font-size: 28px;
}
#myModal h4.modal-title span {
    font-weight: 600;
}
#myModal .modal-body p {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

#test,#test2 {
    width: 100%;
    height: auto;
    border: 3px solid #D9DADB;
}

#test h1,#test2 h1 {
    margin: 0px;
    font-weight: 600;
    font-size: 36px;
}

#test {
    background: linear-gradient(#4CB449, #429B3F);
}

#test2 {
    background: linear-gradient(#B6B6B6, #717171);
}
#btn-list {
    background-color: #F0F2F3;
    padding: 15px 15px 30px;
}

#myModal .modal-footer{
    border-top: none;
}

#btn-list .row .col-xs-6:first-child {
    border-right: 1px solid #D2DBE2;
}

#myModal .modal-header button.close {
    background-color: #232323;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 40px;
    opacity: 1;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 40px;
    color: #fff;
    font-size: 20px;
}

#myModal #popup-listing ul li{
    list-style-type: none;padding-left: 20px;
}

#myModal #popup-listing ul li:before {
    background: rgba(0, 0, 0, 0) url("../images/ready.png") no-repeat scroll 0 0 / 15px auto;
    content: "";
    display: inline-block;
    height: 89px;
    left: 18px;
    padding-left: 18px;
    position: absolute;
    width: 16px;
}

#myModal .col-xs-4 > ul {
    padding-left: 0;
}

#myModal .col-xs-4 > ul li {
    font-size: 12px;
}

#myModal {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important; color: #333;}
#myModal .modal-body .container-fluid div.row div.col-xs-12 p{color: #333;}
#myModal .modal-body p:nth-child(1){font-family: Roboto Slab;/*margin-bottom: 20px;*/}
.modal-header {border-bottom: 0px;}
.blue-line {border-top: 2px solid #5396c4;margin: 0 auto;width: 50px;}

/*subscribe form*/
#myModal #mc-embedded-subscribe-form1.subForm .form-group{margin-top: 4px;}
#myModal form#mc-embedded-subscribe-form1.form-inline.subForm input{ padding: 0 12px;width: 267px !important;margin:0 auto;}
#myModal #mc-embedded-subscribe-form1.subForm{margin:18px 2px 2px;}
#myModal #mc-embedded-subscribe-form1.subForm button{float:none;margin-top: 10px;}
#mc-embedded-subscribe-form1 {text-align: center;}
#close{display:none!important;}

#myModal form#mc-embedded-subscribe-form2.form-inline.subForm input {width: 267px !important;margin:0 auto;}
#myModal #mc-embedded-subscribe-form2.subForm{margin:18px 2px 2px;}
#myModal #mc-embedded-subscribe-form2.subForm button{float:none;margin-top: 10px;background: #5babe0;color: #fff;border: #5babe0;border-radius: 5px;padding: 12px 46px;}
#myModal #mc-embedded-subscribe-form2.subForm .form-group{margin-top: 4px;}
#mc-embedded-subscribe-form2 {text-align: center;}
#myModal .subscribe_content form#mc-embedded-subscribe-form2.form-inline.subForm div#mc_embed_signup_scroll div.form-group label.error a{display:block;}
.subscribe_content{ width: 99.667%!important;}
.modal_size{width:350px;margin:0 auto;}
#myModal .modal-content {background:url("../images/form-background.jpg");}
#social{margin-left:600px;padding-top:12px}

@media screen and (min-width:767px){
  #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:0;
    right:0;
    transform: translateY(-50%);
   }

  #btn-list{ margin-top: 34px;margin-bottom:30px;}
  #myModal .modal-body p:nth-child(1){margin-bottom: 20px;}
}


@media (min-width:690px) and (max-width:767px){
 #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:76px;
    right:76px;
    transform: translateY(-50%);
   }
 #btn-list{ margin-top: 34px;margin-bottom:30px;}
 #myModal .modal-body p:nth-child(1){margin-bottom: 20px;}

}
@media (min-width:621px) and (max-width:690px){
 #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:37px;
    right:37px;
    transform: translateY(-50%);
   }
 #btn-list{ margin-top: 34px;margin-bottom:30px;}
 #myModal .modal-body p:nth-child(1){margin-bottom: 20px;}

}
@media (min-width:520px) and (max-width:621px){
 #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:32px;
    right:32px;
    transform: translateY(-50%);
   }
 #btn-list{ margin-top: 34px;margin-bottom:30px;}
 #myModal .modal-body p:nth-child(1){margin-bottom: 20px;}

}

@media (min-width:470px) and (max-width:520px){
 #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:20px;
    right:20px;
    transform: translateY(-50%);
   }

 #btn-list{ margin-top: 34px;margin-bottom:30px;}
 #myModal .modal-body p:nth-child(1){margin-bottom: 20px;}

}

@media screen and (min-width:500px) and (max-width:597px){
    #myModal .modal-body button p{font-size: 10px;}
    #myModal .modal-body button h1{font-size: 26px;}
}

@media screen and (min-width:421px) and (max-width:500px){
    #myModal .modal-body button p{font-size: 8px;}
    #myModal .modal-body button h1{font-size: 26px;}

    #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:10px;
    right:10px;
    transform: translateY(-50%);
   }
}

@media only screen and (max-width:420px){
    #btn-list .col-xs-6{width: 100%;}
    #myModal .modal-body button h1{font-size: 28px;}
    #btn-list .row .col-xs-6:first-child{margin-bottom: 15px;}
    #myModal h4.modal-title{font-size: 22px;}
   #myModal .col-xs-4 > ul li{font-size: 12px;}
    #myModal .modal-dialog{position: absolute;
    top: 50%;
    left:10px;
    right:10px;
    transform: translateY(-50%);
   }
}

@media only screen and (min-width:450px){
    #myModal .col-xs-4 > ul li{padding: 5px;}
}
@media only screen and (max-width:382px){
  .modal_size{width:300px;}
  #myModal form#mc-embedded-subscribe-form2.form-inline.subForm input{width:245px !important;}
  #myModal form#mc-embedded-subscribe-form1.form-inline.subForm input{width: 245px !important;}
  .modal_size{margin-top:20px;}
   #social{margin-left:1px !important;padding-top:3px !important}
}
  
}
@media only screen and (max-width:343px){
    #myModal .modal-body button p{font-size: 8px;}
    #myModal .modal-body button h1{font-size: 20px;}
}
@media only screen and (max-width:340px){
 .modal_size{width:280px;}
 #myModal form#mc-embedded-subscribe-form2.form-inline.subForm input{width:230px !important;}
 #myModal form#mc-embedded-subscribe-form1.form-inline.subForm input{width: 230px !important;}
 #social{margin-left:1px !important;padding-top:3px !important}
}