RewriteEngine on

## Remove the .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

## Redirect to the 404 page
ErrorDocument 404 /404page

## Redirect all HTTP requests from http://psychotechnology.com to http://www.psychotechnology.com
RewriteCond %{HTTP_HOST} ^psychotechnology.com [NC]
RewriteRule ^(.*)$ http://www.psychotechnology.com/$1 [L,R=301]

##RewriteCond %{HTTPS} off
##RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]