body {
    margin: 0;
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab';
}
hr {
    height: 2px;
    background: #ccc;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
}
.navbar {
    margin-bottom: 30px;
    background: rgb(0, 183, 234);
    /* Old browsers */
    
    background: -moz-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
    /* IE6-9 */
}
.nav-link {
    color: white !important;
}
.holder {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.centered {
    text-align: center;
}
.green {
    color: #40d47e;
}